.loginForm {
    margin: 30px auto;
    width: 300px;
    border: 0px ;
    padding: 10px;
    margin-top: 15%;
    
    
}

body{
background-image: url("1650896.jpg");
background-color: #17A589;
}


.loginForm label {
    display: inline-block;
    width: 80px;
    text-align: right;
    font: bold 14px "Arial", sans-serif;
    margin: 0 5px;
}

.inputLogin {
    text-align: center;
    
}
.test{
    
    border: 0px;
    border-radius: 2px 2px 2px 2px;
    background-color: #33b5e5;
}
.test-second{
    background-color: #5AC18E;

}
.loginForm input {
    margin: 2px;
}

.loginForm input[type="password"], .loginForm input[type="email"] {
    width: 190px;
}