
.image{
    background-image: url("background04.jpg");
    background-color: #17A589;
    position: fixed;    
    min-width: 100%;   
    min-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}