
.image{
    background-image: url("background06.jpg");
    position: relative;    
    min-width: 100%;   
    min-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}